.hero-section {
    max-width: 1600px;
    padding: 118px 0;

    background-image: $bcg-gradient,
        url("../images/hero-fon-mobile-1x.jpg");
        background-image: $bcg-gradient,
        url("../images/hero-fon-mobile-1x-webp.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $bcg-color;
    text-align: center;

    @include retina {
                background-image: $bcg-gradient,
                    url("../images/hero-fon-mobile-2x.jpg");
                    background-image: $bcg-gradient,
                    url("../images/hero-fon-mobile-2x-webp.webp");
            }

    @include tablet {
            background-image: $bcg-gradient,
                    url("../images/hero-fon-tablet-1x.jpg");
                    background-image: $bcg-gradient,
                    url("../images/hero-fon-tablet-1x-webp.webp");

                @include retina {
                        background-image: $bcg-gradient,
                            url("../images/hero-fon-tablet-2x.jpg");
                            background-image: $bcg-gradient,
                            url("../images/hero-fon-tablet-2x-webp.webp");
                        }
    }
    @include desktop {
            height: 600px;
            padding: 200px 0;
            margin: auto;

        background-image: $bcg-gradient,
            url("../images/hero-fon.jpg");
        background-image: $bcg-gradient,
            url("../images/hero-fon-webp.");
                @include retina {
                        background-image: $bcg-gradient,
                            url("../images/hero-fon-2x.jpg");
                        background-image: $bcg-gradient,
                                url("../images/hero-fon-2x-webp.webp");
                    }

    }
}

.hero-title {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: $main-white-color;
    @include tablet {
        width: 360px;
    }

   @include desktop {
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
}
}

/*---------- button 1 page---------- */
.button-hero {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 24px;
    min-width: 200px;
    border: none;

    color: $main-white-color;
    background-color: #2196f3;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: #188ce8;
    }

    @include desktop {
    min-width: 216px; 
    padding: 10px 32px;  
    }
}



