
.all-padding,
.clients,
.section {
    padding-top: 30px;
    padding-bottom: 30px;
        @media screen and (min-width: 768px) {
                width: 768px;
                margin-top: 60px;
                margin-bottom: 60px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 1200px;
                margin-top: 94px;
                margin-bottom: 94px;
            }
}
.adress {
    font-style: normal;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
    width: 768px;

    }

    @media screen and (min-width: 1200px) {
    width: 1200px;

    }
}

a {
    text-decoration: none;
}