
.section{
    padding-top: 60px;
    padding-bottom: 60px;   
            @media screen and (min-width: 1200px) {
                padding-top: 94px;
                padding-bottom: 94px;
            }
}
.adress {
    font-style: normal;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mobile {
        width: 480px;
    }

    @include tablet {
    width: 768px;
    }

    @include desktop {
    width: 1200px;
    }
}

a {
    text-decoration: none;
}