
    $main-color: #212121;
    $paragraph-color: #757575;
    $color-accent: #2196f3;
    $main-white-color: #ffffff;
    $bcg-color: #2f303a;
    $primary-text-size: 14px;
    $secondary-text-size: 16px;
    $primary-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $bcg-gradient: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4));
